body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
:root {
  --theme-color: white;
  --text-color: black;
  --primary-color:#5E0B15;
  --secondary-color:#90323D;
  --light-color: #D9CAB3;
  
}
* {
  box-sizing: border-box;
}
