.product-img-thumb {
  width: 80%;
  border: 1px black solid;
}
.products-product-name {
  font-weight: 700;
  font-size: 28px;
  margin-top: 20px;
}
.products-product-desc {
  font-weight: 400;
  font-size: 17px;
  padding-top: 10px;
}
.owl-carousel-container {
  margin-top: 40px;
}
.third-carousel {
  margin-top: 30px;
}


@media(max-width:768px) {
  .product-properties {
    padding-left: 40px;
  }
  .product-img-thumb {
    width: 90%;
  }
}